.accordion {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

.header {
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.header:hover {
  background-color: #444;
}

.content {
  padding: 20px;
  display: none;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.content.show {
  display: block;
}

.content {
  transition: height 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .accordion {
    margin: 20px auto;
  }
}

@media (max-width: 480px) {
  .accordion {
    padding: 10px;
  }

  .header {
    padding: 5px;
  }
}
